[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = kapiyva
	email = ri9.py1201@gmail.com
[pull]
	rebase = false
[init]
	defaultBranch = main
